<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%#= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :office_id, "Waec Offices" %><br />
    <%= f.collection_select :office_id, Office.order(:office_name), :id, :office_name, include_blank: true , class: "form-control" %>
  </div>

   <div class="form-group">
   <%= f.label "L/P No." %><br />
   <%= f.text_field :lp_no, autofocus: true, autocomplete: "lp_no",class:"form-control" %>
  </div>

  <div class="form-group">
   <%= f.label :username %><br />
   <%= f.text_field :username, autofocus: true, autocomplete: "username",class:"form-control" %>
  </div>

  <div class="form-group">
   <%= f.label :title %><br />
  <%= f.select :title, options_for_select([['Mr.' ,'Mr'], ['Mrs.', 'Mrs'], ['Miss.', 'Miss'], ['Dr.', 'Dr'], ['Alhaji.', 'Alhaji'], ['Rev.', 'Rev']]) %>
  </div>


  <div class="form-group">
   <%= f.label :surname %><br />
   <%= f.text_field :surname, autofocus: true, autocomplete: "surname",class:"form-control" %>
  </div>

  <div class="form-group">
   <%= f.label :othernames %><br />
   <%= f.text_field :othernames, autofocus: true, autocomplete: "othernames",class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>

  <div><%= f.check_box :is_management, {}, true %> <%= f.label :is_management, "Management Staff?" %> </div>

  <div class="form-group">
    <%= f.submit "Sign up", class: "btn btn-primary btn-lg" %>
  </div>

<% end %>

<%= render "devise/shared/links" %>
