<p id="notice"><%= notice %></p>

<p>
  <strong>Picture:</strong>
  <%= @test_result.Picture %>
</p>

<p>
  <strong>Examdiet:</strong>
  <%= @test_result.ExamDiet %>
</p>

<p>
  <strong>Examyear:</strong>
  <%= @test_result.ExamYear %>
</p>

<p>
  <strong>Candno:</strong>
  <%= @test_result.CandNo %>
</p>

<p>
  <strong>Candname:</strong>
  <%= @test_result.CandName %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @test_result.Sex %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @test_result.DOB %>
</p>

<p>
  <strong>Centrename:</strong>
  <%= @test_result.CentreName %>
</p>

<p>
  <strong>Subject1:</strong>
  <%= @test_result.Subject1 %>
</p>

<p>
  <strong>Grade1:</strong>
  <%= @test_result.Grade1 %>
</p>

<p>
  <strong>Subject2:</strong>
  <%= @test_result.Subject2 %>
</p>

<p>
  <strong>Grade2:</strong>
  <%= @test_result.Grade2 %>
</p>

<p>
  <strong>Subject3:</strong>
  <%= @test_result.Subject3 %>
</p>

<p>
  <strong>Grade3:</strong>
  <%= @test_result.Grade3 %>
</p>

<p>
  <strong>Subject4:</strong>
  <%= @test_result.Subject4 %>
</p>

<p>
  <strong>Grade4:</strong>
  <%= @test_result.Grade4 %>
</p>

<p>
  <strong>Subject5:</strong>
  <%= @test_result.Subject5 %>
</p>

<p>
  <strong>Grade5:</strong>
  <%= @test_result.Grade5 %>
</p>

<p>
  <strong>Subject6:</strong>
  <%= @test_result.Subject6 %>
</p>

<p>
  <strong>Grade6:</strong>
  <%= @test_result.Grade6 %>
</p>

<p>
  <strong>Subject7:</strong>
  <%= @test_result.Subject7 %>
</p>

<p>
  <strong>Grade7:</strong>
  <%= @test_result.Grade7 %>
</p>

<p>
  <strong>Subject8:</strong>
  <%= @test_result.Subject8 %>
</p>

<p>
  <strong>Grade8:</strong>
  <%= @test_result.Grade8 %>
</p>

<p>
  <strong>Subject9:</strong>
  <%= @test_result.Subject9 %>
</p>

<p>
  <strong>Grade9:</strong>
  <%= @test_result.Grade9 %>
</p>

<p>
  <strong>Noofsubjects:</strong>
  <%= @test_result.NoOfSubjects %>
</p>

<p>
  <strong>Yearid:</strong>
  <%= @test_result.yearId %>
</p>

<p>
  <strong>Dietid:</strong>
  <%= @test_result.dietId %>
</p>

<%= link_to 'Edit', edit_test_result_path(@test_result) %> |
<%= link_to 'Back', test_results_path %>
