<p id="notice"><%= notice %></p>

<p>
  <strong>Confirmation:</strong>
  <%= @confirm_backup_datum.confirmation %>
</p>

<p>
  <strong>Candno:</strong>
  <%= @confirm_backup_datum.CandNo %>
</p>

<p>
  <strong>Results:</strong>
  <%= @confirm_backup_datum.Results %>
</p>

<p>
  <strong>Formno:</strong>
  <%= @confirm_backup_datum.FormNo %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @confirm_backup_datum.Surname %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @confirm_backup_datum.FirstName %>
</p>

<p>
  <strong>Othernames:</strong>
  <%= @confirm_backup_datum.OtherNames %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @confirm_backup_datum.DOB %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @confirm_backup_datum.Sex %>
</p>

<p>
  <strong>Pix:</strong>
  <%= @confirm_backup_datum.Pix %>
</p>

<p>
  <strong>Centrename:</strong>
  <%= @confirm_backup_datum.CentreName %>
</p>

<p>
  <strong>Certificateno:</strong>
  <%= @confirm_backup_datum.CertificateNo %>
</p>

<p>
  <strong>Securitydigit:</strong>
  <%= @confirm_backup_datum.SecurityDigit %>
</p>

<p>
  <strong>Award:</strong>
  <%= @confirm_backup_datum.Award %>
</p>

<p>
  <strong>Certificatestatus:</strong>
  <%= @confirm_backup_datum.CertificateStatus %>
</p>

<p>
  <strong>Dateprinted:</strong>
  <%= @confirm_backup_datum.DatePrinted %>
</p>

<p>
  <strong>Examtitle:</strong>
  <%= @confirm_backup_datum.ExamTitle %>
</p>

<%= link_to 'Edit', edit_confirm_backup_datum_path(@confirm_backup_datum) %> |
<%= link_to 'Back', confirm_backup_data_path %>
