<p id="notice"><%= notice %></p>

<p>
  <strong>Diet:</strong>
  <%= @payment.diet %>
</p>

<p>
  <strong>Year:</strong>
  <%= @payment.year %>
</p>

<p>
  <strong>Exam no:</strong>
  <%= @payment.exam_no %>
</p>

<p>
  <strong>Confirm type:</strong>
  <%= @payment.confirm_type %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>Receipt no:</strong>
  <%= @payment.receipt_no %>
</p>

<p>
  <strong>Printed:</strong>
  <%= @payment.printed %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
